<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>富士山の紹介</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>

<!-- ヘッダー -->
<header class="header">
  <div class="header__wrap">
    <h1 class="header__logo">
      <img src="./img/logo.png" alt="富士山の紹介">
    </h1>
    <nav class="header__nav">
      <div class="header__nav-item">
        <a href="#">TOP</a>
      </div>
      <div class="header__nav-item">
        <a href="#">ABOUT</a>
      </div>
      <div class="header__nav-item">
        <a href="#">INTERVIEW</a>
      </div>
      <div class="header__nav-item">
        <a href="#">GALLERY</a>
      </div>
      <div class="header__nav-item">
        <a href="#">CONTACT</a>
      </div>
    </nav>
    <nav class="header__navsp">
      <div class="header__navsp-line header__navsp-line--1"></div>
      <div class="header__navsp-line header__navsp-line--2"></div>
      <div class="header__navsp-line header__navsp-line--3"></div>
    </nav>
  </div>
</header>

<!-- キービジュアル -->
<div class="mv">
  <div class="mv__wrap">
    <div class="mv__texts">
      <h2 class="mv__texts-title">日本の世界遺産、富士山</h2>
      <p class="mv__texts-p">富士山は、静岡県と山梨県に跨る活火山です。<br>
標高3776.24m、日本最高峰の独立峰で<br>
その優美な風貌は日本国外でも日本の象徴として<br>
広く知られています。</p>
    </div>
  </div>
</div>

<!-- ニュース -->
<div class="news">
  <h3 class="news__title">NEWS</h3>
  <div class="news__body">
    <div class="news__body-item">
      <div class="news__body-item-date">20XX.01.01</div>
      <div class="news__body-item-title">20XX年の登山シーズンは終了しました。</div>
    </div>
    <div class="news__body-item">
      <div class="news__body-item-date">20XX.01.01</div>
      <div class="news__body-item-title">20XX年の登山シーズンを更新しました。</div>
    </div>
    <div class="news__body-item">
      <div class="news__body-item-date">20XX.01.01</div>
      <div class="news__body-item-title">1月の富士山の風景を更新しました。ギャラリーよりご覧いただけます。</div>
    </div>
  </div>
</div>

<!-- メッセージ -->
<div class="message">
  <div class="message__body">
    <h3 class="message__body-title">美しい日本の富士を楽しむ</h3>
    <p class="message__body-p">ここでは富士山と共に楽しむ風景を紹介しています。</p>
  </div>
</div>

<!-- アバウト -->
<div class="about">
  <h3 class="about__title head-text">ABOUT</h3>
  <div class="about__body">
    <div class="about__body-item">
      <div class="about__body-item-img">
        <picture>
          <source media="(max-width: 767px)" srcset="./img/about_img01_sp.jpg"/>
          <img src="./img/about_img01.jpg" alt="">
        </picture>
      </div>
      <div class="about__body-item-texts">
        <div class="about__body-item-texts-copy">富士山とレンゲ畑</div>
        <p class="about__body-item-texts-p">テキストが入りますテキストが入りますテキストが入りますテキストが入ります<br>
テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
      </div>
    </div>
    <div class="about__body-item about__body-item--reverse">
      <div class="about__body-item-texts">
        <div class="about__body-item-texts-copy">富士山と夜</div>
        <p class="about__body-item-texts-p">テキストが入りますテキストが入りますテキストが入りますテキストが入ります<br>
テキストが入りますテキストが入りますテキストが入りますテキストが入ります</p>
      </div>
      <div class="about__body-item-img">
        <picture>
          <source media="(max-width: 767px)" srcset="./img/about_img02_sp.jpg"/>
          <img src="./img/about_img02.jpg" alt="">
        </picture>
      </div>
    </div>
    <div class="about__body-more">
      <a class="link-more" href="#">もっと見る</a>
    </div>
  </div>
</div>

<!-- インタビュー -->
<div class="interview">
  <h3 class="interview__title head-text">INTERVIEW</h3>
  <div class="interview__body">
    <div class="interview__body-item">
      <a href="#">
        <div class="interview__body-item-img">
          <picture>
            <source media="(max-width: 767px)" srcset="./img/interview_img01_sp.jpg"/>
            <img src="./img/interview_img01.jpg" alt="">
          </picture>
        </div>
        <div class="interview__body-item-texts">
          <div class="interview__body-item-texts-title">ダミー記事</div>
          <p class="interview__body-item-texts-p">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
        </div>
      </a>
    </div>
    <div class="interview__body-item">
      <a href="#">
        <div class="interview__body-item-img">
          <picture>
            <source media="(max-width: 767px)" srcset="./img/interview_img02_sp.jpg"/>
            <img src="./img/interview_img02.jpg" alt="">
          </picture>
        </div>
        <div class="interview__body-item-texts">
          <div class="interview__body-item-texts-title">ダミー記事</div>
          <p class="interview__body-item-texts-p">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
        </div>
      </a>
    </div>
    <div class="interview__body-item">
      <a href="#">
        <div class="interview__body-item-img">
          <picture>
            <source media="(max-width: 767px)" srcset="./img/interview_img03_sp.jpg"/>
            <img src="./img/interview_img03.jpg" alt="">
          </picture>
        </div>
        <div class="interview__body-item-texts">
          <div class="interview__body-item-texts-title">ダミー記事</div>
          <p class="interview__body-item-texts-p">この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。文字の大きさ、量、字間、行間等を確認するために入れています。この文章はダミーです。</p>
        </div>
      </a>
    </div>
  </div>
</div>
<!-- ギャラリー -->
<div class="gallery">
  <h3 class="gallery__title head-text">GALLERY</h3>
  <div class="gallery__body">
    <div class="gallery__body-items">
      <div class="gallery__body-item">
        <img src="./img/gallery_img01.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img02.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img03.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img04.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img05.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img06.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img07.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img08.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img09.jpg" alt="">
      </div>
      <div class="gallery__body-item">
        <img src="./img/gallery_img10.jpg" alt="">
      </div>
    </div>
    <div class="gallery__body-more">
      <a class="link-more" href="#">もっと見る</a>
    </div>
  </div>
</div>

<!-- コンタクト -->
<div class="contact">
  <div class="contact__body">
    <a href="#">
      <div class="contact__body-title">
        <div class="contact__body-title-en">CONTACT</div>
        <div class="contact__body-title-ja">お問い合わせ</div>
      </div>
    </a>
  </div>
</div>

<!-- フッター -->
<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__nav">
      <div class="footer__nav-item">
        <a href="#">利用規約</a>
      </div>
      <div class="footer__nav-item">
        <a href="#">プライバシーポリシー</a>
      </div>
    </div>
    <div class="footer__cr">Copyright *** Inc. All Rights Reserved.</div>
    
  </div>
</footer>
<p style="text-align: center;">このサイトは「chot.design」のレスポンシブWebデザインコーディング術コースのデモサイトとなります</p>


</body>
</html>